body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {

  margin: 30px 0 20px 50px;
}

.message-box {
  width: 675px;
  height: 50vh;
  border: 5px solid black;
  margin-left: 20px;
}

li {
  margin-top: 10px;
  padding-bottom: 5px;
  list-style-type: none;
}

.input-message {
  width: 585px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.username {
  width: 10%;
  padding: 10px 30px;
  margin-left: 20px;

}

button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
}
